# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Dependencies
node_modules
.pnpm-store

# Build output
dist
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
